# Environment Configuration
NODE_ENV=dev

# CDN Configuration
CDN_ENDPOINT=https://cdn-api.udevs.io/
CDN_ACCESS_KEY=your-access-key
CDN_SECRET_KEY=your-secret-key

# Server Configuration
HTTP_PORT=3000
GRPC_PORT=50051
